@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* colors
blue: #02b3e4;
green: #62c36b;
font-gray: #c6d3dd;
background-gray: #f4f4ef;

button-bs: box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);

block-bs: box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
 */
 
 /* GENERAL STYLES */
 
body {
  font-family: 'Open Sans', sans-serif;
  color: #2e3d49;
  line-height: 1.33em;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

/* BTN */
.btn {
  display: inline-block;
  margin: 3px;
  padding: 5px 15px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* vertical-align: middle; */
  color: #62c36b;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #c6d3dd;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 0px rgba(46,61,73,0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #14e425; 
  background-color: #fafaef;
}

.btn:active {
  background-color: rgba(46,61,73,0.1);
  transition: none;
  box-shadow: 5px 5px 6px 0px rgba(46,61,73,0.3);
}


/* LAYOUT */

.wrapper {
  width: 80%;
  height: 815px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas:
  "left-sidebar content right-sidebar";
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.12);
}
.main-header {
  grid-area: header;
}
.left-sidebar {
  grid-area: left-sidebar;
}
.content {
  grid-area: content;
}
.right-sidebar {
  grid-area: right-sidebar;
}


/* HEADER */

h1 {
  font-family: Monoton;
  color: #2e3d49;
  font-weight: normal;
  font-size: 60px;
  /* letter-spacing: 0.1em; */
  line-height: 1.33em;
  margin: 0;
  background-color: #fff;
  transition: all 0.4s ease;
}
.main-header {
  background-color: #fff; 
  transition: all 0.4s ease;  
  padding: 10px;
  border: 1px solid #c6d3dd;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.main-header:hover {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}


/* MAIN */ 

/* CONTROL-PANEL  */

.control-panel {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "color-picker canvas-header palette"
  "color-picker   btn-panel   palette";
}

/* COLOR-PICKER */
.color-picker {
  padding: 10px;
  grid-area: color-picker;
}
input[type="color"] {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: none;
}
.colorPicker {
  display: inline-block;
}

/* CANVAS-HEADER  */
.canvas-header {
  font-size: 50px;
  margin: 0;
  grid-area: canvas-header;
}

/* BTN-PANEL  */
.btn-panel {
  grid-area: btn-panel;
}
.hide-btn {
  width: 88px;
}
.fill-btn {
  background-color: rgba(0, 0, 0, 0.1)
}
/* PALETTE  */
.palette {
  width: 200px;  
  grid-area: palette;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.palette-btn {
  margin: 4px;
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #c6d3dd;
  border-radius: 3px;
  box-shadow: 2px 2px 1px 0px rgba(46,61,73,0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}
.palette-btn:hover {
  color: #14e425;
  box-shadow: 5px 5px 6px 0px rgba(46,61,73,0.3);
  
}
.palette-btn:active {
  transition: 0;
  box-shadow: 3px 3px 4px 0px rgba(46,61,73,0.3);
}
.palette-btn--red {
  background-color: #F44336;
}
.palette-btn--orange {
  background-color: #FF5722;
}
.palette-btn--yellow {
  background-color: #FFEB3B;
}
.palette-btn--pink {
  background-color: #E91E63;
}
.palette-btn--purple {
  background-color: #9C27B0;
}
.palette-btn--indigo {
  background-color: #3F51B5;
}
.palette-btn--blue {
  background-color: #2196F3;
}
.palette-btn--teal {
  background-color: #009688;
}
.palette-btn--bluegray {
  background-color: #607D8B;
}
.palette-btn--green {
  background-color: #4CAF50;
}
.palette-btn--toxic {
  background-color: #76FF03;
}
.palette-btn--lime {
  background-color: #CDDC39;
}
.palette-btn--black {
  background-color: #000;
}
.palette-btn--white {
  background-color: #fff;
}
/* GRID-GENERATOR  */
.grid-generator {
  position: relative;
  padding: 10px;
  border: 1px solid #c6d3dd;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  margin-bottom: 20px;
}
.grid-generator form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.grid-generator p {
  position: absolute;
  color: rgb(145, 47, 47);
  top: -8px;
  left: 34px;
  padding: 0;
  opacity: 0;
}
input[type="number"] {
  width: 60px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #c6d3dd;
}
input[type="number"]:hover,
input[type="number"]:focus  {
  box-shadow: 0px 0px 2px 2px rgba(46,61,73,0.15);
  transition: 0.5s ease-in-out;
}

.grid-submit {
  margin-top: 15px;
}



/* TO-DO-LIST */
.to-do-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.to-do-item {
  border: 0.5px solid transparent;
  border-radius: 3px;
  transition: 0.3s;   
}

.to-do-item:hover {
  border: 0.5px solid #c6d3dd;
  cursor: pointer;
  background-color: #f4f4ef;
}
.to-do-item p {
  padding: 0;
  margin: 5px;
  padding-left: 35px;
  position: relative;
  text-align-last: left;
}

.to-do-item p::after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/check-square.svg);
  opacity: 0.3;  
}
.success {
  order: 2;
}
.to-do-item.success p::after {
  opacity: 1;
  background-image: url(img/check-square.svg);
  background-color: rgb(63, 214, 63);
}

.list-show-btn {
  overflow: hidden;
  position: relative;
  padding: 7px 60px;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(46,61,73,0.3);
}
.list-show-btn:hover::after {
  opacity: 0.5;
}
.list-show-btn::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 45px;
  opacity: 0.2;
  border: 10px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
  border-left-width: 15px;
  border-right-width: 15px;
  
  /* border-color: transparent; */
}
.list-show-btn--closed::after {
  /* border: 10px solid transparent; */
  top: -8px;
  left: 45px;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.7);
}

/* FOOTER */

.main-footer {
  /* z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0; */
  height: 140px;
  border: 1px solid #c6d3dd;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.12);
  padding: 20px;
  /* border-radius: 5px; */
}


/* TABLE STYLES */

table,
tr,
td {
  border: 1px solid #c6d3dd;
}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  margin: 20px auto;
  cursor: pointer;
}

tr {
  height: 15px;
}

td {
  width: 15px;
}
