body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.warning {
  font-size: 30px;
  color: firebrick;
  text-align: center;
  margin: 30% auto;
  text-transform: uppercase;
}

.map {
  height: 100vh;
  width: 80%;
  float: right;
}

.places-form {
  height: 100vh;
  overflow: scroll;  
}

.places-form input {
  padding: 10px;
  width: auto;
  margin: 10px 0;
}

.places-form ul {
  /* width: 20%; */
  margin: 0;
  padding: 5px;
}

.places-form ul li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.places-form ul li:hover {
  background-color: #eee;
}

@media (max-width: 1240px) {
  .map {
    width: 70%;
  }
  .places-form {
    width: 30%;
    font-size: 14px;
  }
  .places-form input {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .map {
    width: 100%;
    margin-top: 250px;
  }

  .places-form {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .places-form input {
    margin: 0;
    padding: 5px 0;
    width: 100%;
  }

  .places-form ul {
    height: 200px;
    overflow: scroll;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .places-form ul li {
    background-color: #fff;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}